@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-sans antialiased bg-gray-50 text-gray-900;
  }

  #root {
    @apply min-h-screen;
  }
}
